/* RESOURCES 
primary-color: #115278
dark-grey: #242526
*/

/* NAVBAR */
.navbar {
    background-color: #0c5812;
  }
  
  .navbar-light .navbar-brand {
    color: #fff !important;
    letter-spacing: 2px;
    font-size: 23px;
    font-weight: bold;
    margin-left: 15%;
  }
  
  .navbar-light .navbar-brand:hover {
    color: #fff !important;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
  }
  .navbar-expand .navbar-collapse {
    margin-right: 15%;
  }
  .navbar-expand .navbar-nav .nav-link {
    color: #fff !important;
    letter-spacing: 0.7px;
    font-weight: 500;
  }
  
  .navbar-expand .navbar-nav .nav-link:hover {
    color: #fff !important;
  }
  
  .landing-nav.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-sizing: border-box;
    box-shadow: 0 0.3125rem 0.9375rem 0 rgb(17 82 120 / 50%);
  }
  
  .landing-nav.scrolled .navbar-brand {
    color: #242526 !important;
  }
  
  .landing-nav.scrolled .collapse .navbar-nav a {
    color: #242526 !important;
  }
  /* HEADER SECTION */
  .header-details-col {
    padding-left: 14%;
    margin-top: 12%;
  }
  
  #header-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }
  
  .header-heading {
    color: #0c5812;
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5%;
  }
  
  .header-head {
    display: block;
    font-weight: 700;
    font-size: 50px;
  }
  
  .header-subheading {
    color: #242526;
    font-weight: 500;
    font-size: 24px;
  }
  
  .btn {
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
  }
  
  .btn-integrate {
    margin-left: 5%;
  }
  
  .heroOne {
    width: 75%;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  /* SECOND SECTION */
  
  #second-section {
    background-color: #0c5812;
    width: 100%;
  }
  
  .second-section-row {
    width: 80%;
    margin: 0 auto;
  }
  
  .second-heading {
    color: #fff;
    font-size: 64px;
    font-weight: bold;
  }
  
  .second-description {
    color: #fff;
  }
  
  .btn-expore-second {
    color: #0c5812 !important;
    font-weight: bold;
    margin-top: 5%;
  }
  
  .second-hero {
    width: 150%;
    margin-top: 5%;
    opacity: 0;
  }
  
  .second-details-col {
    margin-left: 25%;
    margin-top: 5%;
  }
  
  /* SECTION THREE */
  
  #section-three {
    width: 80%;
    margin: 0 auto;
  }
  
  .third-heading {
    font-size: 60px;
    color: #0c5812;
  }
  
  .third-row {
    width: 90%;
    margin: 0 auto;
  }
  .third-details {
    margin-top: 15%;
  }
  
  .third-hero {
    margin-top: 10%;
    width: 160%;
    opacity: 0;
  }
  
  /* SECTION FOUR */
  
  #section-four {
    background-color: #0c5812;
  }
  
  .fourth-details-col {
    margin-left: 10%;
    margin-top: 10%;
  }
  
  .fourth-hero {
    width: 100%;
    margin-top: 10%;
    opacity: 0;
  }
  
  .fourth-heading {
    font-size: 60px;
    color: #fff;
  }
  
  /* SECTION FIVE */
  
  #section-five {
    width: 80%;
    margin: 0 auto;
  }
  
  .five-hero {
    margin-top: 10%;
    width: 120%;
    margin-left: 10%;
    opacity: 0;
  }
  
  .five-form {
    margin-top: 10%;
  }
  
  /* FOOTER */
  
  footer {
    background-color: #0c5812;
  }
  
  .footer-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .footer-logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20%;
    margin-top: 5%;
  }
  
  .footer-menu {
    margin-top: 7%;
  }
  
  .footer-menu ul {
    list-style: none;
    color: #fff;
  }
  
  .footer-menu li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .footer-ref ul li a {
    font-size: 6px;
  }
  
  .footer-ref ul li {
    height: 15px;
  }
  
  /* ANIMATIONS */
  
  @keyframes animate-heroes-left {
    0% {
      opacity: 0;
      transform: translateX(-300px);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes animate-heroes-right {
    0% {
      opacity: 0;
      transform: translateX(300px);
    }
    30% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  