.detailsPage-container {
    background-color: #242526;
    min-height: 100vh;
  }
  
  .greetings-container {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #115278;
    padding: 2%;
  }
  
  .greetings-block-col {
    display: flex;
    justify-content: flex-end;
  }
  
  .greetings-block {
    width: 60%;
  }
  
  .greetings-heading {
    color: #fff;
    font-size: 72px;
    font-weight: bold;
  }
  
  .greetings-message {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
  }
  
  .greetings-image {
    display: flex;
    justify-content: start;
  }
  
  .greetings-rocket {
    width: 40%;
    transform: rotate(10deg);
  }
  
  .additional-details-form-row {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .additional-details-form {
    background-color: rgb(255, 255, 255);
    padding: 10%;
    padding-top: 2%;
    width: 40%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
  }
  
  .details-form {
    width: 100%;
  }
  
  .details-form-headThree {
    margin-bottom: 10%;
    color: rgb(17, 82, 120);
    margin-top: 10%;
    font-weight: bold;
  }
  
  .check-working-day-container {
    margin-bottom: 1.9rem;
  }
  
  .working-hours-description {
    color: #6c757d;
    font-size: 13px;
  }
  
  .subscription-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  .subscription-container .card-container {
    width: 45%;
  }
  .subscription-container .card {
    margin-bottom: 10%;
    padding: 0%;
    color: #fff;
    background-color: #242526;
    transition: all 0.2s ease-in-out;
    box-shadow: 5px 5px 5px #666;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .subscription-container .card:hover {
    transform: scale(1.1);
  }
  
  .subscription-container .card-body {
    padding: 10%;
  }
  
  .subscription-container .card-subtitle {
    margin-bottom: 20%;
    color: rgb(9, 134, 9);
  }
  