.user-points-card-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  
  .user-points-card {
    box-shadow: 0 0.5125rem 0.5125rem 0 rgb(36 37 38 / 30%);
  }
  
  .profile-png-container {
    background-color: #607769;
    padding: 10%;
  }
  
  .profile-png {
    border-radius: 50%;
    height: 14rem;
    width: 13rem;
  }
  
  .user-points-card-subtitle {
    font-size: 14px;
    font-weight: 400;
  }
  
  .points-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .points-icon {
    font-size: 32px;
    color: #41976f;
  }
  
  .points {
    font-weight: 600;
    color: #242526;
    margin-top: 10px;
    font-size: 24px;
    letter-spacing: 1px;
    cursor: help;
  }
  